.settings-screen{
    padding: 30px;
    color: var(--content-text-color);

    h1 {
        margin: 0px 0px 50px 0px;
    }

    .setting-block {
        display: flex;
        flex-wrap: nowrap;

        .description {
            margin-right: 80px;
            h2 {
                font-size: 18px;
                font-weight: 600;
                margin: 0px;
            }

            h3 {
                font-size: 10px;
                font-weight: 400;
                opacity: 0.8;
                margin: 0px;
            }
        }

        .value {
            .theme-box {
                display: inline-block;
                margin-left: 15px;
                margin-bottom: 15px;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid var(--content-border-color);
                font-weight: 600;
                cursor: pointer;
            }
        }

    }

}