/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  margin: 0px;
  overflow: hidden;
}

.all{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 100px 20px 20px 20px;
}

.frame-drag-area {
  -webkit-app-region: drag;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0px;
}
